@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Shrikhand&display=swap");
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes bubble-bounce {
  0% {
    transform: scale(1);
    filter: blur(0px);
  }
  25% {
    transform: scale(0.6);
    filter: blur(3px);
  }
  50% {
    transform: scale(1);
    filter: blur(0px);
  }
  75% {
    transform: scale(1.4);
    filter: blur(1.5px);
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
  }
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

h2 {
  margin: 0;
}

body {
  font-family: "Roboto";
  font-size: 1.2rem;
}

h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

p {
  font-weight: 100;
}

h6, span {
  font-size: 1.1rem;
}

.button {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  font-size: 1.05rem;
  font-weight: 500;
  padding: 18px 25px;
  border: none;
  border-radius: 30px;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  margin: 18px 0;
  cursor: pointer;
  transition: box-shadow 400ms, opacity 250ms;
}
.button:hover {
  opacity: 0.85;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

footer {
  background-color: #383838;
  color: white;
  padding-left: 12px;
  padding-bottom: 30px;
}
footer .footer__logo {
  font-family: "Shrikhand";
  color: white;
  margin-top: 0px;
  padding-top: 40px;
}
footer .footer__link {
  display: flex;
}
footer .footer__link i {
  align-self: center;
  padding-right: 8px;
}
footer p {
  font-weight: bold;
}

.header__logo {
  background-image: url("../mockups/images/logo/ohmyfood.png");
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.header__search #searchbar {
  text-align: center;
  background-color: #E9E9E9;
  font-size: 25px;
  padding-top: 14px;
}
.header__search #searchbar input {
  border: none;
  font-family: "Roboto";
  font-size: 25px;
  background-color: #E9E9E9;
  font-weight: 500;
}
.header__search #description {
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 50px;
}
.header__search #description h1 {
  font-family: "Shrikhand";
  margin: 0;
  padding-top: 10px;
}
.header__search #description p {
  font-family: "Roboto";
  font-size: 23px;
  padding-bottom: 10px;
}
.header__search #button {
  text-align: center;
  background-color: #F6F6F6;
}
.header__search #button input {
  background: linear-gradient(#FF79DA, #9356DC);
  font-family: "Roboto";
  font-size: 25px;
  padding: 23px;
  font-weight: bold;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.explanation h1 {
  text-align: center;
}

.explanation__button {
  display: flex;
  text-align: center;
  background-color: #F6F6F6;
  width: 30%;
  font-size: 25px;
  border-radius: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.explanation__button .number {
  align-self: center;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  width: 18px;
  font-size: 14px;
  padding: 3px;
  margin-left: -13px;
}
.explanation__button i {
  align-self: center;
  color: #E9E9E9;
  padding-left: 16px;
}
.explanation__button button {
  align-self: center;
  background-color: #F6F6F6;
  font-family: "Roboto";
  font-size: 25px;
  padding: 23px;
  font-weight: bold;
  border: none;
}

@media all and (max-width: 785px) {
  .explanation {
    margin: 8px;
  }
  .explanation h1 {
    text-align: left;
  }
  .explanation .explanation__button {
    display: flex;
    text-align: center;
    background-color: #F6F6F6;
    width: 100%;
    font-size: 25px;
    border-radius: 16px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .explanation .explanation__button .number {
    align-self: center;
    background-color: #9356DC;
    color: white;
    border-radius: 50%;
    width: 18px;
    font-size: 14px;
    padding: 3px;
    margin-left: -13px;
  }
  .explanation .explanation__button i {
    align-self: center;
    color: #E9E9E9;
    padding-left: 16px;
  }
  .explanation .explanation__button button {
    align-self: center;
    background-color: #F6F6F6;
    font-family: "Roboto";
    font-size: 25px;
    padding: 23px;
    font-weight: bold;
    border: none;
    font-size: 20px;
  }
}
.restaurants {
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 100px;
}
.restaurants h1 .title {
  text-align: center;
}
.restaurants .card {
  position: relative;
  z-index: 1;
  width: 50%;
  margin: auto;
  border-radius: 15px;
  margin-bottom: 20px;
}
.restaurants .card .new-infos {
  z-index: 3;
  position: relative;
  color: green;
  width: 86px;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  top: 10%;
  left: 85%;
}
.restaurants .card .new-infos p {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
}
.restaurants .card .new-restaurant {
  z-index: 2;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.restaurants .card .new-restaurant .card__image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants .card .card__description {
  display: flex;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
}
.restaurants .card .card__description .card__text h1 {
  font-size: 26px;
}
.restaurants .card .card__description .card__text p {
  text-align: left;
  font-size: 20px;
}
.restaurants .card .card__description .card__icon {
  align-self: center;
  font-size: 30px;
}
.restaurants .card .card__description .card__icon .heart-border {
  color: gray;
}
.restaurants .card .card__description .card__icon .heart-full {
  display: none;
}
.restaurants .card .card__description .card__icon:hover .heart-border {
  display: none;
}
.restaurants .card .card__description .card__icon:hover .heart-full {
  background: linear-gradient(#FF79DA, #9356DC);
  display: block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media all and (max-width: 785px) {
  .restaurants {
    text-align: center;
    background-color: #F6F6F6;
    padding-bottom: 100px;
  }
  .restaurants h1 .title {
    margin: 8px;
    text-align: left;
  }
  .restaurants .card {
    z-index: 1;
    position: relative;
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  .restaurants .card .new-infos {
    z-index: 2;
    position: relative;
    color: green;
    width: 54px;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    top: 25%;
    left: 84%;
  }
  .restaurants .card .new-infos p {
    text-align: center;
    font-size: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .restaurants .card .new-restaurant {
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
  .restaurants .card .new-restaurant .card__image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .restaurants .card .new-restaurant .card__description {
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
  }
  .restaurants .card .new-restaurant .card__description .card__text h1 {
    font-size: 20px;
  }
  .restaurants .card .new-restaurant .card__description .card__text p {
    text-align: left;
    font-size: 18px;
    color: gray;
  }
  .restaurants .card .new-restaurant .card__description .card__icon {
    align-self: center;
    font-size: 30px;
  }
  .restaurants .card .new-restaurant .card__description .card__icon .heart-border {
    color: gray;
  }
  .restaurants .card .new-restaurant .card__description .card__icon .heart-full {
    display: none;
  }
  .restaurants .card .new-restaurant .card__description .card__icon:hover .heart-border {
    display: none;
  }
  .restaurants .card .new-restaurant .card__description .card__icon:hover .heart-full {
    background: linear-gradient(#FF79DA, #9356DC);
    display: block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  justify-content: center;
  animation: loader 600ms 2.8s forwards;
}
.loader-block {
  display: flex;
  align-items: center;
}
.loader-block__bubble {
  width: 2.2rem;
  height: 2.2rem;
  margin: 0.7rem;
  border-radius: 100%;
  background-image: linear-gradient(145deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  animation: bubble-bounce 3s linear;
}
.loader-block__bubble--purple {
  background-color: #9356DC;
}
.loader-block__bubble--pink {
  background-color: #FF79DA;
  animation-delay: 0.3s;
}
.loader-block__bubble--green {
  background-color: #99E2D0;
  animation-delay: 0.6s;
}

.location {
  background-color: #e9e9e9;
  text-align: center;
  padding: 16px 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15) inset;
}
.location i, .location h6 {
  color: #373737;
}
.location i {
  font-size: 18px;
}
.location h6 {
  display: inline-block;
  margin-left: 12px;
  font-weight: 400;
}

.discover {
  background-color: #F6F6F6;
  text-align: center;
  padding: 42px 0;
}
.discover h2 {
  padding: 0 58px;
}
.discover p {
  padding: 14px 20px;
}

/* Font and Icons */

/*# sourceMappingURL=style.css.map */
