.explanation h1 {
  text-align: center;
}

.explanation__button {
  display: flex;
  text-align: center;
  background-color: $background-gray;
  width: 30%;
  font-size: $font-size;
  border-radius: 16px;
  box-shadow: $shadow;
  @include button-margin;

  .number {
    align-self: center;
    background-color: $colour-primary;
    color: white;
    border-radius: 50%;
    width: 18px;
    font-size: 14px;
    padding: 3px;
    margin-left: -13px;
  }

  i {
    align-self: center;
    color: #E9E9E9;
    padding-left: 16px;
  }

  button {
    align-self: center;
    background-color: $background-gray;
    @include button-shape;
  }
}
