.header__logo {
  background-image: url("../mockups/images/logo/ohmyfood.png");
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: $shadow;
}

.header__search {

  #searchbar {
    text-align: center;
    background-color: #E9E9E9;
    font-size: 25px;
    padding-top: 14px;

    input {
      border: none;
      font-family: $font-text;
      font-size: $font-size;
      background-color: #E9E9E9;
      font-weight: 500;
    }
  }

  #description {
    text-align: center;
    background-color: #F6F6F6;
    padding-bottom: 50px;

    h1 {
      font-family: $font-title;
      margin: 0;
      padding-top: 10px;
    }

    p {
      font-family: $font-text;
      font-size: 23px;
      padding-bottom: 10px;
    }
  }

  #button {
    text-align: center;
    background-color: $background-gray;

    input {
      @include button-gradient;
      @include button-shape;
      @include button-margin;
      border-radius: 50px;
      color: white;
      box-shadow: $shadow;
    }
  }
}


