@media all and (max-width:  785px) {

  .restaurants {
    text-align: center;
    background-color: $background-gray;
    padding-bottom: 100px;

    .title {
      margin: 8px;
      border-radius:  15px;
      box-shadow: $shadow;
    }

    .new-restaurant {

      .new-info {
        z-index: 2;
        position: relative;
        color: green;
        width: 54px;
        background-color: lightgreen;
        display: flex;
        justify-content: center;
        border-radius: 3px;

        p {
          text-align: center;
          font-size: 8px;
          margin-top: 4px;
          margin-bottom: 4px;
        }
      }

      .card {
        z-index: 1;
      }
    }
  }

  .card {
    width: 100%;
    margin: auto;
    border-radius:  15px;
    box-shadow: $shadow;
    margin-bottom: 20px;

    .card__image {

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-left-radius:  15px;
        border-top-right-radius:  15px;
      }
    }

    .card__description {
      display: flex;
      justify-content: space-between;
      padding-left: 12px;
      padding-right: 12px;
    }

    .card__icon  {
      align-self: center;
      font-size: 30px;

      .heart-border {
        color: gray;
      }

      .heart-full {
        display: none;
      }
    }

    .card__icon:hover {
      .heart-border {
        display: none;
      }
      .heart-full {
        @include button-gradient;

        display: block;
        background-clip: text;
          -webkit-background-clip: text;
        color: transparent;
      }
    }


    .card__text {
      h1 {
        font-size: 20px;
      }

      p {
        text-align: left;
        font-size: 18px;
        color: gray;
      }
    }
  }

}
