.restaurants {
  text-align: center;
  background-color: $background-gray;
  padding-bottom: 100px;
}

.card {
  width: 50%;
  margin: auto;
  border-radius:  15px;
  box-shadow: $shadow;
  margin-bottom: 20px;

  .card__image {

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-top-left-radius:  15px;
      border-top-right-radius:  15px;
    }
  }

  .card__description {
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
  }

  i {
    align-self: center;
    font-size: 30px;
  }

  .card__text {
    h1 {
      font-size: 26px;
    }
    p {
      text-align: left;
      font-size: 20px;
    }
  }
}
