$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$background-gray: #F6F6F6;

$font-title: 'Shrikhand';
$font-text: 'Roboto';
$font-size-desktop: 25px;
$font-size-mobile:20px;

$thin: 100;
$regular: 400;
$medium: 500;

$breakpoints: (
  small-tablet: 481px,
  big-tablet: 768px,
  laptop: 1024px,
);
